.homePageContainer{
  width: 620px;
  height:auto;
  margin: 0 auto;
  .top-banner{
    width:100%;
    height:55px;
    background:#999999;
    .nav-container{
      display: inline-block;
      list-style: none;
      padding: 0;
      overflow: hidden;
      li{
        display:inline-block;
        padding: 0 5px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin: 0 60px 0 0;
        cursor:pointer;
        &:hover{
          color: #ffffff;
        }
      }
    }
    .user-container{
      display: inline-block;
      float:right;
      .img-box{
        width: 68px;
        height: 45px;
        position: relative;
        padding: 5px 0;
        cursor: pointer;
        img{
          width: 44px;
          height: 44px;
          border-radius: 50%;
          background: #ffffff;;
        }
      }
    }
  }

  .module-container{
    width:100%;

    .page-module{

    }
  }
  .headImage{
    text-align:center;
  }
  .tip{
    text-align: center;
  }
}
