{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "add-module-exports",
    "lodash",
    ["import", [{ "libraryName": "antd", "style": true }]]
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
